/*Background Header*/
.header{
    background: #F5F7FA;
}


/*Mise en Forme du Header*/
section {
    display: inline-flex;
    width: Fixed (1,441px)px;
    height: Hug (84px)px;
    padding: 22px 105px 22px 105px;
    gap: 145px;
    opacity: 0px;
}


/* Mise en forme de la nav */
ul {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

li {
    padding: 0 15px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}


/* La case login header */
.login-header{
    width: Hug (182px)px;
    height: Hug (40px)px;
    gap: 14px;
    opacity: 0px;
}


/* Le button login */
.login{
    font-family: Inter, sans-serif;
    width: Hug (77px)px;
    height: Hug (40px)px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:rgba(76, 175, 79, 1) ;
    background: #F5F7FA;
    border: none; 
    box-shadow: none; 
    opacity: 1; 
}


/* Le button sign-up */
.sign-up {
    font-family: Inter, sans-serif;
    width: 91px; 
    height: 40px;
    border-radius: 6px; 
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background: rgba(76, 175, 79, 1); 
    color: #F5F7FA; 
    border: none; 
    box-shadow: none; 
    opacity: 1; 
}



/* La hero section */
.hero-section {
    background-color: #F5F7FA;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 1441 px; 
    height: 599; 
    padding: 96px 144px; 
    gap: 104px; 
}


/* La mise en forme du texte */
.frame-1 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 16px; 
}

/* Pour empêcher que l'illustration rétrécisse */
.illustration-frame-1 {
    flex-shrink: 0;
}


/* Le titre avec le changement de couleur */
.Lessons{
    font-family: Inter, sans-serif;
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
}

/* Le From 8 years en vert dans le titre */
.from{
    font-family: Inter, sans-serif;
    color: rgba(76, 175, 79, 1);
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
}


/* Le petit texte sous le titre */
.Where{
    font-family: Inter, sans-serif;
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* La mise en forme du button register */
.button-hero-section {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    width: 128px; 
    height: 52px; 
    border-radius: 4px; 
    padding: 14px 32px;
    gap: 10px;
    background-color: rgba(76, 175, 79, 1); 
    color: white; 
    border: none; 
}

/* Community */
.community{
    width: Hug (1,440px)px;
    height: Hug (416px)px;
    gap: 16px;
    opacity: 0px;
    margin-bottom: 8px;
}

/* Titre de la section community */
.section-title{
    color: rgba(77, 77, 77, 1);
    font-family: Inter, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

/* Le petit texte en dessous du titre de community */
.Description{
    color: rgba(113, 113, 113, 1);
    font-family: Inter, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -20px;
}

/* La disposition des Cartes */
.cards-container{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 280px;
    padding-right: 144px;
    padding-left: 144px;
}

/* La Première carte */
.membership-organisations{
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 260px;
    border-radius: 8px;
    padding: left 32px; 
    padding: right 32px; 
    padding: top 24px; 
    padding: bottom 24px; 
    align-items: center;
    text-align: center;
    gap: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

/* Le titre de la Première carte */
.titre-membership-organisations{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: rgba(77, 77, 77, 1);
}

/* Le petit texte des Cartes */
.frame3{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(113, 113, 113, 1);
}


/* La Seconde carte */
.national-associations{
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 280px;
    border-radius: 8px;
    padding: left 32px; 
    padding: right 32px; 
    padding: top 24px; 
    padding: bottom 24px; 
    align-items: center;
    text-align: center;
    gap: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

/* Le titre de la Seconde carte */
.titre-national-associations{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: rgba(77, 77, 77, 1);
}

/* La Troisième carte */
.corporate-organisations{
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 260px;
    border-radius: 8px;
    padding: left 32px; 
    padding: right 32px; 
    padding: top 24px; 
    padding: bottom 24px; 
    align-items: center;
    text-align: center;
    gap: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

/* Le titre de la Seconde carte */
.titre-corporate-organisations{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: rgba(77, 77, 77, 1);
}




